$base-grey: #222;
$label-text: #8d8d8d;
$text-blue: #61DAFB;
$text: #4a4a4a;
$light-grey: lighten($base-grey, 15%);
$label-grey: lighten($light-grey, 30%);

.list-item {
  // margin: 2vh 1vw;
  margin: 0 2.5%;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  p {
    border: solid $label-grey 1px !important;
    border-radius: 7px;
    margin: 2vh 1vw !important;
    padding: 0 !important;
    // border: none !important;
    font-size: 0.9rem !important;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    .before, .content {
      color: $label-grey;
      margin: 1vh 0.5vw;
    }
    .before {
      font-size: 0.8rem;
      text-align: center;
      white-space: nowrap;
      border-bottom: solid $label-grey 1px;
    }
    .content {
      padding: 1vh 1vw;
      border: solid $label-grey 1px;
      display: block;
      width: 100%;
      border-radius: 7px;
    }
  }
  .trash {
    cursor: pointer;
    padding: 0.5vh 0.5vw;
    max-width: 5%;
    border: solid 1px transparent;
    &:hover {
      color: $text-blue;
      border: solid 1px $text-blue;
      border-radius: 7px;
      background: $label-grey;
    }
  }
}
